.user-info-box {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  transition: var(--transition-slow);
  overflow: hidden;

  .user-info-topic {
    margin: 0;
  }

  .repository-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
