.font-size-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.font-size-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.font-size-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.font-size-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-size-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
