@use "@styles/colors" as c;
header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    border-bottom: c.$gray-light 1px solid;
    
    .title {
        font-size: 24px;
        font-weight: bold;
        color: c.$black;
    }
    .description {
        font-size: 16px;
        color: c.$gray;
    }
    .favorite {
        position: absolute;
        top: 0;
        right: 0;
        margin: 24px;
        & > button:nth-child(2) {
            display: none;
        }
    }
    .favority {
        button:nth-child(1) {
            display: none;
        }
        button:nth-child(2) {
            display: block;
        }
    }
}