$gray: #aeb5bc;
$lightGray : #f1f1f1;
$cobaltBlue : #5481e5;
$lightBlue : #4ca0b5;
$green : #53b57b;

header {
  width: 100%;
  height: 15%;

  padding: 20px;
  border: 2px solid $lightGray;


  display: flex;
  flex-direction: column;

  input {
    height: 50px;
  }
}