@use "@styles/colors" as c;
main {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 40px;
    .user-info {
        display: flex;

        & > .user-profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            img {
                border-radius: 50%;
                height: 240px;
                width: 240px;
                object-fit: contain;
            }
            p {
                font-size: 24px;
                font-weight: 700;  
            }
            
        }

        & > .git-profile {
            margin: 0px 40px;
            ul:nth-child(1) {
                display: flex;

                width: 100%;
                color: c.$white;
                li {
                    margin: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @for $i from 1 through length(c.$bgColor) {
                        padding: 8px;
                        border-radius: 4px;
                        &:nth-child(#{$i}) {
                            background:nth(c.$bgColor, $i);
                        }
                    }
                }
            }
            ul:nth-child(2) { 
                li {
                    color: c.$gray-light;
                    border: 1px solid c.$gray-light;
                    border-radius: 4px;
                    padding: 8px;
                    margin: 4px;
                }
            }
        }
    }
    .git-chart {
        & > img {
            width: 100%;
            max-width: 1200px;
        }   
    }
    .user-repos {
        & > ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
            & > li {
                width: 100%;
                border: 1px solid c.$gray-light;
                padding: 24px;
                & > a {
                    font-size: 24px;
                }
            }
        }
    }
    .favorites {
        ul {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
        li {
            border: 1px solid c.$gray-light;
            color: c.$blue;
            padding: 16px;
        }
    }
}