.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.hidden {
    display: none;
  }

  .modal__background {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .modal__wrapper {
    position: relative;
    background-color: white;
    border-radius: 10px;
    top: 0;
    padding: 10px 25px;
    width: 40%;
    height: 100%;

    display: flex;
    flex-direction: column;

    .modal__title {
      margin: 0;
      margin-bottom: 13px;
    }

    .modal__content {
      overflow: auto;
      ul {
        display: flex;
        flex-direction: column;

        gap: 10px;
        font-size: 20px;
      }
    }

    .button__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .closeButton {
        position: relative;
        padding: 10px 22px;
        background: #7d2ae8;
        border-radius: 6px;
        color: #fff;
        border: none;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        transition: transform 0.2s ease;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

        z-index: 4;
      }

      .closeButton:active {
        transform: scale(0.96);
      }

      .closeButton::before,
      .closeButton::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        height: 100%;
        width: 150%;
        z-index: -1;
        background-repeat: no-repeat;
      }

      .closeButton.animate::before {
        top: -70%;
        background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
          radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
          radial-gradient(circle, #7d2ae8 20%, transparent 20%),
          radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
          radial-gradient(circle, #7d2ae8 20%, transparent 20%),
          radial-gradient(circle, #7d2ae8 20%, transparent 20%),
          radial-gradient(circle, #7d2ae8 20%, transparent 20%),
          radial-gradient(circle, #7d2ae8 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 18% 18%;
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55%, 90%, 70% 90%;
        animation: topBubbles 0.6s ease-in-out forwards;
      }


      .closeButton.animate::after {
        bottom: -70%;
        background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
          radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
          radial-gradient(circle, #7d2ae8 20%, transparent 20%),
          radial-gradient(circle, #7d2ae8 20%, transparent 20%),
          radial-gradient(circle, #7d2ae8 20%, transparent 20%),
          radial-gradient(circle, #7d2ae8 20%, transparent 20%),
          radial-gradient(circle, #7d2ae8 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
        background-position: 10% 0%, 30% 10%, 55% 0%, 70% 0%, 85% 0%, 70% 0%, 70% 0%;
        animation: bottomBubbles 0.6s ease-in-out forwards;
      }
    }
  }
}

@keyframes topBubbles {
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}