@import "@/styles/common/reset.scss";
@import "@/styles/common/constants.scss";

@mixin default-border {
  border: 1px solid $color--light-gray;
  border-radius: 8px;
}

body {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}

.header,
.following,
.profile,
.repository,
.footer {
  margin: 30px 0;
}

.header {
  @include default-border;
  padding: 20px;

  .search {
    &__comment {
      margin-top: 14px;
      font-size: 16px;
      color: $color--gray;
    }
    &__input {
      @include default-border;
      width: 100%;
      height: 40px;
      padding: 0 20px;
      margin-top: 14px;
    }
  }
}

.main {
  min-height: 68vh;
}

.following {
  &-users {
    @include default-border;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 20px;
  }
  ul > li {
    cursor: pointer;
  }
}

.profile {
  @include default-border;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.profile-view {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;

    img {
      width: 270px;
      height: 270px;
      border-radius: 8px;
      animation: fadein 0.5s;
    }
  }

  &__button-wrapper {
    display: flex;
    gap: 10px;
  }

  &__button {
    display: flex;
    align-items: center;
    width: 130px;
    height: 30px;
    padding: 6px 8px;
    margin-top: 16px;
    justify-content: center;
    border-radius: 8px;
    background-color: $color--blue;
    color: $color--white;
    font-size: 14px;

    &#unfollow-button {
      background-color: $color--gray;
    }
  }
}

.profile-info {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 65%;

    img {
      width: 600px;
      height: 95px;
      margin-top: 20px;
      animation: fadein 0.5s;
    }
  }

  &__tags {
    width: 100%;
    height: 50px;
  }

  &__details {
    @include default-border;
    width: 100%;

    & > li {
      display: flex;
      align-items: center;
      height: 36px;
      padding: 0 20px;
      border-bottom: 1px solid $color--light-gray;
      color: $color--gray;
    }
    & > li:last-child {
      border-bottom: none;
    }
  }
}

.repository {
  &__repos {
    margin-top: 10px;
    & > li {
      @include default-border;
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0 20px;
      margin-bottom: 8px;
      color: $color--blue;
    }
  }
  .repo__name {
    width: 60%;
  }
}

.tag-buttons {
  display: flex;
  align-items: center;

  & > li {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 6px 8px;
    margin-right: 8px;
    text-align: center;
    border-radius: 4px;
    background-color: $color--blue;
    color: $color--white;
    font-size: 12px;
  }

  & > li:nth-child(2) {
    background-color: $color--gray;
  }

  & > li:nth-child(3) {
    background-color: $color--green;
  }

  & > li:nth-child(4) {
    background-color: $color--bluegreen;
  }
}

.footer {
  @include default-border;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: $color--light-gray;
}

.hidden {
  display: none;
}

.image--unload {
  background-color: $color--light-gray;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
