$gray: #aeb5bc;
$lightGray : #f1f1f1;
$cobaltBlue : #5481e5;
$lightBlue : #4ca0b5;
$green : #53b57b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 50%;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 0 20px;
}

header {
  width: 100%;
  height: 15%;

  padding: 20px;
  border: 2px solid $lightGray;


  display: flex;
  flex-direction: column;

  input {
    height: 50px;
  }
}

main {
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 20px;
  border: 2px solid $lightGray;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;

  opacity: 0;

  .userInfo {
    width: 100%;
    height: 40%;

    display: flex;

    .view {
      width: 30%;
      height: 100%;

      padding: 10px;

      display: flex;
      flex-direction: column;
      gap: 15px;

      img {
        width: 200px;
        height: 200px;
      }

      button {
        width: 100%;
        height: 50px;
        border: 0;
        
        cursor: pointer;

        border-radius: 20px;
        color: white;
        background: $cobaltBlue;
      }
    }

    .profile {
      width: 80%;
      height: 100%;

      padding: 20px;

      .tag {
        display: flex;
        gap: 10px;
        list-style: none;

        li {

          border-radius: 5%;
          padding: 2px 10px;
          font-size: 12px;

          display: flex;
          align-items: center;
          justify-content: center;

          color: white;

          &:nth-child(1) {
            background: $cobaltBlue;
          }

          &:nth-child(2) {
            background: $gray;
          }

          &:nth-child(3) {
            background: $green;
          }

          &:nth-child(4) {
            background: $lightBlue;
          }
        }
      }

      .info {
        list-style: none;

        display: flex;
        flex-direction: column;

        border: 1px solid $lightGray;
        border-radius: 2%;

        li {
          padding: 10px;
          border: 1px solid $lightGray;
        }
      }
    }
  }

  .latestRepos {
    width: 100%;
    height: 70%;

    .latestReposList {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .latestRepo {
        border: 1px solid $lightGray;
        border-radius: 2%;
        padding: 15px;

        display: flex;
        align-items: center;

        .title {
          width: 60%;
        }

        .tag {
          display: flex;
          gap: 10px;
          list-style: none;

          li {
            border-radius: 5%;
            padding: 2px 10px;
            font-size: 12px;
            
            display: flex;
            align-items: center;
            justify-content: center;

            color: white;

            &:nth-child(1) {
              background: $cobaltBlue;
            }
            &:nth-child(2) {
              background: $gray;
            }
            &:nth-child(3) {
              background: $green;
            }
          }
        }
      }
    }
  }

  /* display: none; */
}


footer {
  width: 100%;
  height: 5%;
  background-color: #f8f8f8;
  border: 2px solid $lightGray;

  display: flex;
  align-items: center;
  justify-content: center;
}