@import "@/styles/common/reset.scss";
@import "@/styles/common/constants.scss";

@mixin default-border {
  border: 1px solid $color--light-gray;
  border-radius: 8px;
}

body {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  max-width: 960px;
  margin: 20px auto;
}

#header,
#profile,
#repository,
#footer {
  margin: 30px 0;
}

#header {
  @include default-border;
  padding: 20px;

  #search {
    &__comment {
      margin-top: 14px;
      font-size: 16px;
      color: $color--gray;
    }
    &__input {
      @include default-border;
      width: 100%;
      height: 40px;
      padding: 0 20px;
      margin-top: 14px;
    }
  }
}

#profile {
  @include default-border;
  display: flex;
  padding: 20px;
}

#profile-view {
  &__warapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
  }

  &__image {
    width: 100%;
    max-width: 240px;
    max-height: 240px;
    border-radius: 8px;
    height: auto;
  }

  &__button {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 6px 8px;
    margin-top: 16px;
    text-align: center;
    border-radius: 4px;
    background-color: $color--blue;
    color: $color--white;
    font-size: 14px;
  }
}

#profile-info {
  &__warapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
  }

  &__tags {
    width: 100%;
    height: 50px;
  }

  &__details {
    @include default-border;
    width: 100%;

    & > .profile-info__detail {
      display: flex;
      align-items: center;
      height: 36px;
      padding: 0 20px;
      border-bottom: 1px solid $color--light-gray;
      color: $color--gray;
    }
    & > .profile-info__detail:last-child {
      border-bottom: none;
    }
  }
}

#repository {
  &__repos {
    margin-top: 10px;
    & > li {
      @include default-border;
      display: flex;
      align-items: center;
      height: 50px;
      padding: 0 20px;
      margin-bottom: 8px;
      color: $color--blue;
    }
  }
  .repo__name {
    width: 60%;
  }
}

.tag-buttons {
  display: flex;
  align-items: center;

  & > .tag-button {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 6px 8px;
    margin-right: 8px;
    text-align: center;
    border-radius: 4px;
    background-color: $color--blue;
    color: $color--white;
    font-size: 12px;
  }

  & > .tag-button:nth-child(2) {
    background-color: $color--gray;
  }

  & > .tag-button:nth-child(3) {
    background-color: $color--green;
  }

  & > .tag-button:nth-child(4) {
    background-color: $color--bluegreen;
  }
}

#footer {
  @include default-border;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: $color--light-gray;
}
