.search-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  padding: 1rem;
  overflow: hidden;
  width: 100%;
  background-color: var(--box-white);
  border: 1px solid var(--box-dark);
  border-radius: var(--border-radius);

  .title {
    margin: 0;
  }

  .search-label {
    margin: 0;
    color: var(--text-light);
  }

  .search-input[type=text] {
    width: 100%;
    transition: var(--transition);
    font-family: inherit;
    font-size: 1rem;
    color: var(--text-dark);
    padding: 0.5rem 1rem;
    border: 1px solid var(--box-dark);
    border-radius: var(--border-radius);
    outline: none;

    &:focus {
      border: 1px solid var(--primary);
    }

    &:disabled {
      color: var(--text-light);
      background-color: var(--box-dark);
    }

    &.error {
      border: 1px solid var(--danger);
    }
  }

  .search-error {
    margin: 0;
    padding: 0rem 0.5rem;
    border-radius: var(--border-radius);
    background-color: var(--danger);
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    transition: var(--transition);
  }
}
